body{
  background: rgb(2,89,85);
  background: linear-gradient(180deg, rgba(2,89,85,1) 0%, rgba(0,145,124,1) 100%);
  height: 100vh; 
  font-family: 'MedievalSharp', cursive;
  color: #000;
}

/* h1, h3 {
  text-align: center;
} */

/* .base {max-width: 23em; margin: 0 auto;} */
.base-directions {text-align: left; padding-left: 0; margin-left: 0;  }
.base-directions li {list-style: none; padding-left: 0; margin-left: 0; font-weight: bold; font-size:1.2em;  }

/* .input-response {text-align: center;} */
.input-response p {font-size: 1.4em; ;}
.flex-wrapper { display: flex; }
.base-wrap { padding: 1em; flex: 1 1 50%; background: #1d638c; }
.prev-moves-wrap { padding: 1em; order: -1; flex: 1 1 30%; background: #fbc527; position: relative;}
.prev-moves-wrap li:last-child:after { content: ' : Your latest move'; }
.dynamic-active-moves-wrap {display: flex; }
.dynamic-active-moves-left { background: orangered; padding: 1em; flex: 1 1 25%;  }
.dynamic-active-moves-right { background: #546747; padding: 1em; flex: 1 1 70%; }
.battle-wrap { padding: 1em; }
.border { border: 3px solid #fff; padding: 1em; }

@keyframes knight-moves{
  0% {
    transform: translate(0, -2em)
    
  }
  50% {
    transform: translate(80vw, -2em)
  }
  100% {
    transform: translate(0, -2em)
  }
}

.knight {
  box-shadow: 90px 80px 0 0 rgba(0, 150, 136, 1), 100px 80px 0 0 rgba(0, 150, 136, 1), 110px 80px 0 0 rgba(0, 150, 136, 1), 70px 90px 0 0 rgba(255, 87, 34, 1), 100px 90px 0 0 rgba(205, 220, 57, 1), 110px 90px 0 0 rgba(0, 150, 136, 1), 70px 100px 0 0 rgba(255, 87, 34, 1), 100px 100px 0 0 rgba(0, 150, 136, 1), 110px 100px 0 0 rgba(0, 150, 136, 1), 70px 110px 0 0 rgba(255, 87, 34, 1), 80px 110px 0 0 rgba(158, 158, 158, 1), 90px 110px 0 0 rgba(158, 158, 158, 1), 100px 110px 0 0 rgba(96, 125, 139, 1), 110px 110px 0 0 rgba(96, 125, 139, 1), 100px 120px 0 0 rgba(96, 125, 139, 1), 110px 120px 0 0 rgba(96, 125, 139, 1), 90px 130px 0 0 rgba(158, 158, 158, 1), 100px 130px 0 0 rgba(158, 158, 158, 1), 110px 130px 0 0 rgba(158, 158, 158, 1), 90px 140px 0 0 rgba(158, 158, 158, 1), 110px 140px 0 0 rgba(158, 158, 158, 1), 90px 150px 0 0 rgba(158, 158, 158, 1), 110px 150px 0 0 rgba(158, 158, 158, 1);
  height: 10px;
  width: 10px;
  position: absolute;
  animation: knight-moves 10s infinite; 
}
.dragon {
  box-shadow: 100px 10px 0 0 rgba(255, 235, 59, 1), 110px 10px 0 0 rgba(255, 235, 59, 1), 80px 20px 0 0 rgba(255, 235, 59, 1), 90px 20px 0 0 rgba(255, 235, 59, 1), 120px 20px 0 0 rgba(255, 235, 59, 1), 100px 30px 0 0 rgba(255, 235, 59, 1), 110px 30px 0 0 rgba(255, 235, 59, 1), 120px 30px 0 0 rgba(255, 235, 59, 1), 100px 40px 0 0 rgba(255, 235, 59, 1), 110px 40px 0 0 rgba(255, 235, 59, 1), 110px 50px 0 0 rgba(255, 235, 59, 1), 110px 60px 0 0 rgba(255, 235, 59, 1), 100px 70px 0 0 rgba(255, 235, 59, 1), 110px 70px 0 0 rgba(255, 235, 59, 1), 120px 70px 0 0 rgba(255, 235, 59, 1), 90px 80px 0 0 rgba(255, 235, 59, 1), 100px 80px 0 0 rgba(255, 235, 59, 1), 120px 80px 0 0 rgba(255, 235, 59, 1), 130px 80px 0 0 rgba(255, 235, 59, 1), 80px 90px 0 0 rgba(255, 235, 59, 1), 90px 90px 0 0 rgba(255, 235, 59, 1), 130px 90px 0 0 rgba(255, 235, 59, 1), 80px 100px 0 0 rgba(255, 235, 59, 1), 90px 100px 0 0 rgba(255, 235, 59, 1), 100px 100px 0 0 rgba(255, 235, 59, 1), 120px 100px 0 0 rgba(255, 235, 59, 1), 130px 100px 0 0 rgba(255, 235, 59, 1), 90px 110px 0 0 rgba(255, 235, 59, 1), 100px 110px 0 0 rgba(255, 235, 59, 1), 110px 110px 0 0 rgba(255, 235, 59, 1), 120px 110px 0 0 rgba(255, 235, 59, 1), 130px 110px 0 0 rgba(255, 235, 59, 1), 100px 120px 0 0 rgba(255, 235, 59, 1), 110px 120px 0 0 rgba(255, 235, 59, 1), 120px 120px 0 0 rgba(255, 235, 59, 1), 130px 120px 0 0 rgba(255, 235, 59, 1), 110px 130px 0 0 rgba(255, 235, 59, 1), 120px 130px 0 0 rgba(255, 235, 59, 1), 130px 130px 0 0 rgba(255, 235, 59, 1), 70px 140px 0 0 rgba(255, 235, 59, 1), 120px 140px 0 0 rgba(255, 235, 59, 1), 70px 150px 0 0 rgba(255, 235, 59, 1), 80px 150px 0 0 rgba(255, 235, 59, 1), 120px 150px 0 0 rgba(255, 235, 59, 1), 130px 150px 0 0 rgba(255, 235, 59, 1), 140px 150px 0 0 rgba(255, 235, 59, 1), 150px 150px 0 0 rgba(255, 235, 59, 1), 80px 160px 0 0 rgba(255, 235, 59, 1), 90px 160px 0 0 rgba(255, 235, 59, 1), 150px 160px 0 0 rgba(255, 235, 59, 1), 90px 170px 0 0 rgba(255, 235, 59, 1), 100px 170px 0 0 rgba(255, 235, 59, 1), 110px 170px 0 0 rgba(255, 235, 59, 1), 120px 170px 0 0 rgba(255, 235, 59, 1), 130px 170px 0 0 rgba(255, 235, 59, 1), 140px 170px 0 0 rgba(255, 235, 59, 1), 150px 170px 0 0 rgba(255, 235, 59, 1);
  height: 10px;
  width: 10px;
  right: 12em;
  top: 2em;
  position: absolute;
  animation: knight-moves 10s .5s reverse infinite; 
}